<footer class="footer mt-auto py-2 bg-light border-black">
    <div class="container">
        <div class="row mt-4">
            <h5 class="text-center text-md-left">Follow Us</h5>
            <div class="d-flex justify-content-center justify-content-md-center align-items-center">
                <a href="https://www.instagram.com/java_selenium_hub" target="_blank" class="text-decoration-none me-3">
                    <img src="../../assets/images/instagram.svg" alt="Instagram" style="width: 30px;">
                </a>
                <a href="https://github.com/ashwithpoojary98" target="_blank" class="text-decoration-none me-3">
                    <img src="../../assets/images/github.svg" alt="GitHub" style="width: 30px;">
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <p>&copy; <span id="year"></span> Async Coding Hub</p>
            </div>
        </div>
        <!-- Optional Footer Bottom -->
        <div class="row mt-2">
            <div class="col-12 text-center">
                <p>Designed by <b>Async Coding Hub</b></p>
            </div>
        </div>
    </div>
</footer>


